Web Server/src/wsdl/localhost_9128/webservices.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webServices/" name="WebServicesService">
<types>
<xsd:schema>
<xsd:import namespace="http://webServices/" schemaLocation="http://localhost:9128/webservices?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="traerDTProveedor">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="traerDTProveedorResponse">
<part name="return" type="tns:dtProveedor"></part>
</message>
<message name="AltaDeImagenPerfil">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="AltaDeImagenPerfilResponse"></message>
<message name="PreexistingEntityException">
<part name="fault" element="tns:PreexistingEntityException"></part>
</message>
<message name="buscarImagenPorNickname">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="buscarImagenPorNicknameResponse">
<part name="return" type="tns:dtImagenPerfil"></part>
</message>
<message name="ImagenPorNicknameNoExite">
<part name="fault" element="tns:ImagenPorNicknameNoExite"></part>
</message>
<message name="AltaDeUsuarioTurista">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:string"></part>
<part name="arg5" type="xsd:anySimpleType"></part>
<part name="arg6" type="xsd:string"></part>
</message>
<message name="AltaDeUsuarioTuristaResponse"></message>
<message name="NicknameExistenteException">
<part name="fault" element="tns:NicknameExistenteException"></part>
</message>
<message name="CorreoElectronicoExistenteException">
<part name="fault" element="tns:CorreoElectronicoExistenteException"></part>
</message>
<message name="AltaDeUsuarioProveedor">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:string"></part>
<part name="arg5" type="xsd:anySimpleType"></part>
<part name="arg6" type="xsd:string"></part>
<part name="arg7" type="xsd:string"></part>
</message>
<message name="AltaDeUsuarioProveedorResponse"></message>
<message name="listaActividadesProveedorConfirmadas">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listaActividadesProveedorConfirmadasResponse">
<part name="return" type="tns:listaDTActividad"></part>
</message>
<message name="traerDTTurista">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="traerDTTuristaResponse">
<part name="return" type="tns:dtTurista"></part>
</message>
<message name="listaUsuarios"></message>
<message name="listaUsuariosResponse">
<part name="return" type="tns:listaString"></part>
</message>
<message name="desMarcarUsuarioFavorito">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="desMarcarUsuarioFavoritoResponse"></message>
<message name="traerSalidasDelProveedor">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="traerSalidasDelProveedorResponse">
<part name="return" type="tns:listaDTSalidaTuristica"></part>
</message>
<message name="listaActividadesProveedorTodas">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listaActividadesProveedorTodasResponse">
<part name="return" type="tns:listaDTActividad"></part>
</message>
<message name="listaPaquetesComprados">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listaPaquetesCompradosResponse">
<part name="return" type="tns:listaString"></part>
</message>
<message name="devolverTipoUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="devolverTipoUsuarioResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="generarPDFInscripcionSalida">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="generarPDFInscripcionSalidaResponse"></message>
<message name="marcarUsuarioComoFavorita">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="marcarUsuarioComoFavoritaResponse"></message>
<message name="traerInscSalidasDeTurista">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="traerInscSalidasDeTuristaResponse">
<part name="return" type="tns:listaDTSalidaTuristica"></part>
</message>
<message name="validarCorreo">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="validarCorreoResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="validarNickname">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="validarNicknameResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="traerDTUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="traerDTUsuarioResponse">
<part name="return" type="tns:dtUsuario"></part>
</message>
<portType name="WebServices">
<operation name="traerDTProveedor">
<input wsam:Action="http://webServices/WebServices/traerDTProveedorRequest" message="tns:traerDTProveedor"></input>
<output wsam:Action="http://webServices/WebServices/traerDTProveedorResponse" message="tns:traerDTProveedorResponse"></output>
</operation>
<operation name="AltaDeImagenPerfil" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://webServices/WebServices/AltaDeImagenPerfilRequest" message="tns:AltaDeImagenPerfil"></input>
<output wsam:Action="http://webServices/WebServices/AltaDeImagenPerfilResponse" message="tns:AltaDeImagenPerfilResponse"></output>
<fault message="tns:PreexistingEntityException" name="PreexistingEntityException" wsam:Action="http://webServices/WebServices/AltaDeImagenPerfil/Fault/PreexistingEntityException"></fault>
</operation>
<operation name="buscarImagenPorNickname">
<input wsam:Action="http://webServices/WebServices/buscarImagenPorNicknameRequest" message="tns:buscarImagenPorNickname"></input>
<output wsam:Action="http://webServices/WebServices/buscarImagenPorNicknameResponse" message="tns:buscarImagenPorNicknameResponse"></output>
<fault message="tns:ImagenPorNicknameNoExite" name="ImagenPorNicknameNoExite" wsam:Action="http://webServices/WebServices/buscarImagenPorNickname/Fault/ImagenPorNicknameNoExite"></fault>
</operation>
<operation name="AltaDeUsuarioTurista" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6">
<input wsam:Action="http://webServices/WebServices/AltaDeUsuarioTuristaRequest" message="tns:AltaDeUsuarioTurista"></input>
<output wsam:Action="http://webServices/WebServices/AltaDeUsuarioTuristaResponse" message="tns:AltaDeUsuarioTuristaResponse"></output>
<fault message="tns:NicknameExistenteException" name="NicknameExistenteException" wsam:Action="http://webServices/WebServices/AltaDeUsuarioTurista/Fault/NicknameExistenteException"></fault>
<fault message="tns:PreexistingEntityException" name="PreexistingEntityException" wsam:Action="http://webServices/WebServices/AltaDeUsuarioTurista/Fault/PreexistingEntityException"></fault>
<fault message="tns:CorreoElectronicoExistenteException" name="CorreoElectronicoExistenteException" wsam:Action="http://webServices/WebServices/AltaDeUsuarioTurista/Fault/CorreoElectronicoExistenteException"></fault>
</operation>
<operation name="AltaDeUsuarioProveedor" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7">
<input wsam:Action="http://webServices/WebServices/AltaDeUsuarioProveedorRequest" message="tns:AltaDeUsuarioProveedor"></input>
<output wsam:Action="http://webServices/WebServices/AltaDeUsuarioProveedorResponse" message="tns:AltaDeUsuarioProveedorResponse"></output>
<fault message="tns:CorreoElectronicoExistenteException" name="CorreoElectronicoExistenteException" wsam:Action="http://webServices/WebServices/AltaDeUsuarioProveedor/Fault/CorreoElectronicoExistenteException"></fault>
<fault message="tns:NicknameExistenteException" name="NicknameExistenteException" wsam:Action="http://webServices/WebServices/AltaDeUsuarioProveedor/Fault/NicknameExistenteException"></fault>
<fault message="tns:PreexistingEntityException" name="PreexistingEntityException" wsam:Action="http://webServices/WebServices/AltaDeUsuarioProveedor/Fault/PreexistingEntityException"></fault>
</operation>
<operation name="listaActividadesProveedorConfirmadas">
<input wsam:Action="http://webServices/WebServices/listaActividadesProveedorConfirmadasRequest" message="tns:listaActividadesProveedorConfirmadas"></input>
<output wsam:Action="http://webServices/WebServices/listaActividadesProveedorConfirmadasResponse" message="tns:listaActividadesProveedorConfirmadasResponse"></output>
</operation>
<operation name="traerDTTurista">
<input wsam:Action="http://webServices/WebServices/traerDTTuristaRequest" message="tns:traerDTTurista"></input>
<output wsam:Action="http://webServices/WebServices/traerDTTuristaResponse" message="tns:traerDTTuristaResponse"></output>
</operation>
<operation name="listaUsuarios">
<input wsam:Action="http://webServices/WebServices/listaUsuariosRequest" message="tns:listaUsuarios"></input>
<output wsam:Action="http://webServices/WebServices/listaUsuariosResponse" message="tns:listaUsuariosResponse"></output>
</operation>
<operation name="desMarcarUsuarioFavorito" parameterOrder="arg0 arg1">
<input wsam:Action="http://webServices/WebServices/desMarcarUsuarioFavoritoRequest" message="tns:desMarcarUsuarioFavorito"></input>
<output wsam:Action="http://webServices/WebServices/desMarcarUsuarioFavoritoResponse" message="tns:desMarcarUsuarioFavoritoResponse"></output>
</operation>
<operation name="traerSalidasDelProveedor">
<input wsam:Action="http://webServices/WebServices/traerSalidasDelProveedorRequest" message="tns:traerSalidasDelProveedor"></input>
<output wsam:Action="http://webServices/WebServices/traerSalidasDelProveedorResponse" message="tns:traerSalidasDelProveedorResponse"></output>
</operation>
<operation name="listaActividadesProveedorTodas">
<input wsam:Action="http://webServices/WebServices/listaActividadesProveedorTodasRequest" message="tns:listaActividadesProveedorTodas"></input>
<output wsam:Action="http://webServices/WebServices/listaActividadesProveedorTodasResponse" message="tns:listaActividadesProveedorTodasResponse"></output>
</operation>
<operation name="listaPaquetesComprados">
<input wsam:Action="http://webServices/WebServices/listaPaquetesCompradosRequest" message="tns:listaPaquetesComprados"></input>
<output wsam:Action="http://webServices/WebServices/listaPaquetesCompradosResponse" message="tns:listaPaquetesCompradosResponse"></output>
</operation>
<operation name="devolverTipoUsuario">
<input wsam:Action="http://webServices/WebServices/devolverTipoUsuarioRequest" message="tns:devolverTipoUsuario"></input>
<output wsam:Action="http://webServices/WebServices/devolverTipoUsuarioResponse" message="tns:devolverTipoUsuarioResponse"></output>
</operation>
<operation name="generarPDFInscripcionSalida" parameterOrder="arg0 arg1">
<input wsam:Action="http://webServices/WebServices/generarPDFInscripcionSalidaRequest" message="tns:generarPDFInscripcionSalida"></input>
<output wsam:Action="http://webServices/WebServices/generarPDFInscripcionSalidaResponse" message="tns:generarPDFInscripcionSalidaResponse"></output>
</operation>
<operation name="marcarUsuarioComoFavorita" parameterOrder="arg0 arg1">
<input wsam:Action="http://webServices/WebServices/marcarUsuarioComoFavoritaRequest" message="tns:marcarUsuarioComoFavorita"></input>
<output wsam:Action="http://webServices/WebServices/marcarUsuarioComoFavoritaResponse" message="tns:marcarUsuarioComoFavoritaResponse"></output>
</operation>
<operation name="traerInscSalidasDeTurista">
<input wsam:Action="http://webServices/WebServices/traerInscSalidasDeTuristaRequest" message="tns:traerInscSalidasDeTurista"></input>
<output wsam:Action="http://webServices/WebServices/traerInscSalidasDeTuristaResponse" message="tns:traerInscSalidasDeTuristaResponse"></output>
</operation>
<operation name="validarCorreo">
<input wsam:Action="http://webServices/WebServices/validarCorreoRequest" message="tns:validarCorreo"></input>
<output wsam:Action="http://webServices/WebServices/validarCorreoResponse" message="tns:validarCorreoResponse"></output>
</operation>
<operation name="validarNickname">
<input wsam:Action="http://webServices/WebServices/validarNicknameRequest" message="tns:validarNickname"></input>
<output wsam:Action="http://webServices/WebServices/validarNicknameResponse" message="tns:validarNicknameResponse"></output>
</operation>
<operation name="traerDTUsuario">
<input wsam:Action="http://webServices/WebServices/traerDTUsuarioRequest" message="tns:traerDTUsuario"></input>
<output wsam:Action="http://webServices/WebServices/traerDTUsuarioResponse" message="tns:traerDTUsuarioResponse"></output>
</operation>
</portType>
<binding name="WebServicesPortBinding" type="tns:WebServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="traerDTProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</output>
</operation>
<operation name="AltaDeImagenPerfil">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</output>
<fault name="PreexistingEntityException">
<soap:fault name="PreexistingEntityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="buscarImagenPorNickname">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</output>
<fault name="ImagenPorNicknameNoExite">
<soap:fault name="ImagenPorNicknameNoExite" use="literal"></soap:fault>
</fault>
</operation>
<operation name="AltaDeUsuarioTurista">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</output>
<fault name="NicknameExistenteException">
<soap:fault name="NicknameExistenteException" use="literal"></soap:fault>
</fault>
<fault name="PreexistingEntityException">
<soap:fault name="PreexistingEntityException" use="literal"></soap:fault>
</fault>
<fault name="CorreoElectronicoExistenteException">
<soap:fault name="CorreoElectronicoExistenteException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="AltaDeUsuarioProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</output>
<fault name="CorreoElectronicoExistenteException">
<soap:fault name="CorreoElectronicoExistenteException" use="literal"></soap:fault>
</fault>
<fault name="NicknameExistenteException">
<soap:fault name="NicknameExistenteException" use="literal"></soap:fault>
</fault>
<fault name="PreexistingEntityException">
<soap:fault name="PreexistingEntityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listaActividadesProveedorConfirmadas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</output>
</operation>
<operation name="traerDTTurista">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</output>
</operation>
<operation name="listaUsuarios">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</output>
</operation>
<operation name="desMarcarUsuarioFavorito">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</output>
</operation>
<operation name="traerSalidasDelProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</output>
</operation>
<operation name="listaActividadesProveedorTodas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</output>
</operation>
<operation name="listaPaquetesComprados">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</output>
</operation>
<operation name="devolverTipoUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</output>
</operation>
<operation name="generarPDFInscripcionSalida">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</output>
</operation>
<operation name="marcarUsuarioComoFavorita">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</output>
</operation>
<operation name="traerInscSalidasDeTurista">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</output>
</operation>
<operation name="validarCorreo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</output>
</operation>
<operation name="validarNickname">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</output>
</operation>
<operation name="traerDTUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webServices/"></soap:body>
</output>
</operation>
</binding>
<service name="WebServicesService">
<port name="WebServicesPort" binding="tns:WebServicesPortBinding">
<soap:address location="http://localhost:9128/webservices"></soap:address>
</port>
</service>
</definitions>